<div class="header-dark"><div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
                              th:fragment="header" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h5 class="mean-fruit-gradient my-0 mr-md-auto font-weight-normal" style="color: #5369f8"><a href="/" >E-VOTE</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/" sec:authorize="isAuthenticated()">Home</a>
        <a class="p-2 text-dark" href="/profile" sec:authorize="isAuthenticated()">Profile</a>
        <a class="p-2 text-dark" href="/statistics"  sec:authorize="hasRole('ROLE_ADMIN')">Statistics</a>
    </nav>
    <a class="btn btn-outline-primary" href="/logout"  sec:authorize="isAuthenticated()" >Sign out</a>
</div>
</div>